.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 46px 12px 14px;
  border-radius: 10px;
  border: 1px solid #ff004f;
  background: #121212;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
}

.input:focus {
  border-color: #ff2d6f;
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #d9d9d9;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.eyeButton:hover {
  color: #ffffff;
}
.input::-ms-reveal,
.input::-ms-clear {
  display: none;
}

.input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}